%div{ class: "span12" }
  %div{ class: "row" }
    %div{ class: "header" }
      %div{ class: "pull-left" }
        %h1 New API

    %ul{ class: "breadcrumb" }
      %li
        = link_to "Home", root_path
        %span.divider
      %li
        = link_to "APIs", apis_path
        %span.divider
      %li.active
        New API
        %span.divider

  = form_for @api, class: "form-horizontal" do |f|
    %div{ class: "row" }
      %div{ id: "new-api", class: "span3" }
        %div{ class: "control-group" }
          = f.label :name, class: "control-label"
          %div{ class: "controls" }
            = f.text_field :name

        %div{ class: "control-group" }
          = f.label :description, class: "control-label"
          %div{ class: "controls" }
            = f.text_area :description

        %div{ class: "control-group" }
          = f.label :url, class: "control-label"
          %div{ class: "controls" }
            = f.text_field :url

        %div{ class: "control-group" }
          = f.label :selector, "CSS Selector", class: "control-label"
          %div{ class: "controls" }
            = f.text_field :selector

      %div{ id: "new-api-mappings", class: "span3" }
        = f.fields_for :mappings do |mf|
          %div{ class: "form-inline" }
            %div{ class: "control-group" }
              = mf.label :name, class: "control-label"
              %div{ class: "controls" }
                = mf.text_field :name
            %div{ class: "control-group" }
              = mf.label :selector, "CSS Selector", class: "control-label"
              %div{ class: "controls" }
                = mf.text_field :selector
    %div{ class: "row" }
      %div{ class: "span3" }

        %div{ class: "actions" }
          = f.submit "Create API", class: "btn btn-large btn-primary"
