= form_for @mapping do |f|
  = f.label :api_id
  = f.select :api_id, Api.all.map(&:id)
  = f.label :name
  = f.text_field :name
  = f.label :klass
  = f.text_field :klass
  = f.label :selector
  = f.text_field :selector
  = f.submit
